.divsection1{
    background-color: rgba(128, 128, 128, 0.306);
    display: flex;
    justify-content: space-around;
    height: 90vh;
    padding-top: 80px;
    img{
        width: 400px;
    }
    .divdiv1section1{
        display: flex;
        flex-direction: column;
        height: 70%;
        padding-top: 80px;
        gap: 20px;
        h1{
            width: 35vw;
        }
        p{
            width: 35vw;
        }
    }
    .divdiv2section1{
        display: flex;
        gap: 20px;
        align-items: center;
        button{
            width: 15vw;
            height: 8vh;
            background-color: #ec2727;
            border: none;
            color: white;
            border-radius: 20px;
        }
        div{
            display: flex;
            gap: 10px;
            align-items: center;
            i{
                color: #ec2727;
                font-size: xx-large;
            }
            p{
                padding-top: 15px;
            }
            p:hover{
                color: #ec2727;
            }
        }
    }
}

// * section 2
.divsection2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .divdiv1section2{
        position: relative;
        img{
            width: 50vw;
            height: 100vh;
        }
        .position{ 
            background-color: white;
            width: 30vw;
            height: 20vh;
            position: absolute;
            bottom: 20px;
            left: 150px;
        } 
    }
    .divdiv2section2{
        width: 40vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    .divdiv3section2{
        img{
            width: 40vw;
            height: 48vh;
        }  
    }
    }
}
// * section 3
.divsection3{
    display: flex;
    gap: 20px;
    height: 70vh;
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.306);
    .divdiv1section3{
        display: flex;
        flex-direction: column;
        width: 40vw;
        height: 60vh;
        padding: 30px;
        color: white;
        background-color: #ce2727;
        h1{
            width: 40vh;
        }
        p{
            width: 40vh;
        }
        button{
            width: 20vh;
            height: 3vw;
            border-radius: 20px;
            border: none;
            color: white;
            background-color: rgba(128, 128, 128, 0.309);
        }
    }
    .div2section3{
        width: 60vw;
        display: flex;
        padding-top: 20px;
        gap: 20px;
        .divdiv2section3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 35vw;
            height: 50vh;
            padding: 30px;
            background-color: white;
            i{
                color: #ec2727;
                font-size: x-large;
                background-color: rgba(255, 0, 0, 0.242);
                height: 60px;
                width: 60px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                padding-left: 20px;
            }
            h5{
                width: 15vw;
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
        .divdiv2section3:hover{
            transform: scale(1.1);
            transition: 0.5s;
        }
    }
    
}
// * section 4
.sec4{
    background-image: url(../../../../public/img/stats-bg.jpg);
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    font-size: x-large;
    background-attachment: fixed;
    position: relative;
    &::before{
        content: "";
        top: 0;
        position: absolute;
        background-color: black;
        z-index: 1;
        opacity: 70%;
        width: 98.8vw;
        height: 100%;
    }
}
// *section 5
.section5{
    display: flex;
    gap: 130px;
}
.nav-link{
    color: #ce2727;
}
.nav-link:hover{
    color: #ce2727;
}
// *section 6
.section6{
    border-left: #ec2727 2px solid;
    height: 50vh;
    padding: 150px;
}
.imgsection6{
    img{
        border-radius: 50%;
        border: white 2px solid;
    }
}
#button1{
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
// * section 7
// *section 8
.seventh-section{     
    background-color: rgba(199, 199, 190, 0.202);     
    height: fit-content;     
    padding-bottom: 4%;     
    .sec8-cards{         
        width: 100% !important;         
        padding-inline: 5%;         
        gap: 2vw;         
        .card{             
            width: 28vw !important;             
            .sec8-img-border{                 
                position: relative;                 
                &::before{                     
                    position: absolute;                     
                    content: '';                     
                    top: 80%;                     
                    left: 0%;                     
                    background-color: #00000000;                     
                    background-image: url(../../../../public/img/team-shape.svg);                     
                    background-repeat: no-repeat;                     
                    border-bottom: 2px solid rgba(0, 0, 0, 0.099);                     
                    width: 100%;                     
                    height: 23%;                 
                }             
            }         
        }     
    } 
}
// *section 9
.sec8-div1{
    background-color: rgba(128, 128, 128, 0.117);
    display: flex;
    
    .sec8-img{
        img{
            width: 30vw;
            height: 70vh;
        }
    }
    .sec8-div1-div1{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 70vw;
        .sec-input{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            input{
                height: 8vh;
                width: 18vw;
            }
        }
        .form-floating{
            textarea{
                width: 57vw;
            }
        }
        .sec8-button{
            button{
                height: 8vh;
                width: 15vw;
                background-color: #ce2727;
                color: white;
                border: none;
                border-radius: 25px;
            }
            
        }
    }
}
@media (max-width: 430px){
    .divsection1{
        flex-direction: column-reverse;
        width: 100vw;
        height: 150vh;
        gap: 20px;
        img{
            width: 90%;
            padding-left: 40px;
            
        }
        .divdiv1section1{
            display: flex;
            width: 100vw;
            align-items: center;
            justify-content: center;
            padding-top: 0%;
            height: 100vh;
            gap: 20px;
            h1{
                width: 90vw;
            }
            p{
                width: 90vw;
            }
        }
        .divdiv2section1{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            width: 100vw;
            align-items: center;
            button{
                width: 50vw;
                height: 8vh;
                background-color: #ec2727;
                border: none;
                color: white;
                border-radius: 20px;
            }
            div{
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: 50%;
                align-items: center;
                i{
                    color: #ec2727;
                    font-size: xx-large;
                }
                p{
                    padding-top: 15px;
                }
                p:hover{
                    color: #ec2727;
                }
            }
        }
    }

    .divsection2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 170px;
        .divdiv1section2{
            position: relative;
            img{
                width: 100vw;
                height: 70vh;
            }
            .position{ 
                background-color: white;
                width: 80vw;
                height: 20vh;
                position: absolute;
                bottom: 20px;
                left: 40px;
            } 
        }
        .divdiv2section2{
            width: 100vw;
            padding: 10px;
            height: 100vh;
            display: flex;
            flex-direction: column;
        .divdiv3section2{
            img{
                width: 90vw;
                height: 48vh;
            }  
        }
        }
    }

    .divsection3{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 240vh;
        padding: 17px;
        padding-top: 50px;
        background-color: rgba(128, 128, 128, 0.306);
        .divdiv1section3{
            display: flex;
            flex-direction: column;
            width: 90vw;
            height: 70vh;
            padding: 30px;
            color: white;
            background-color: #ce2727;
            h1{
                width: 40vh;
            }
            p{
                width: 40vh;
            }
            button{
                width: 30vh;
                height: 8vh;
                border-radius: 20px;
                border: none;
                color: white;
                background-color: rgba(128, 128, 128, 0.309);
            }
        }
        .div2section3{
            width: 90vw;
            display: flex;
            flex-direction: column;
            padding-top: 0px;
            gap: 20px;
            .divdiv2section3{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 90vw;
                height: 50vh;
                padding: 0px;
                background-color: white;
                i{
                    color: #ec2727;
                    font-size: x-large;
                    background-color: rgba(255, 0, 0, 0.242);
                    height: 60px;
                    width: 60px;
                }
                h5{
                    width: 90vw;
                }
                p{
                    width: 90vw;
                }
            }
        }
    }

    .sec4{
        height: 150vh;
        &::before{
            content: "";
            width: 100%;
        }
        .sec4-div1{
            width: 100vw;
            h3{
                width: 100vw;
            }
        }
    }
    
    
    
    .seventh-section{     
    background-color: rgba(199, 199, 190, 0.202);     
    height: fit-content;     
    padding-bottom: 4%;   
    gap: 20vh;
    .sec8-cards{         
        width: 100% !important;         
        padding-inline: 5%; 
        display: flex;        
        gap: 30vw;         
        .card{             
            width: 90vw !important;             
            
        }     
    } 
}
// *section 9
.sec8-div1{
    background-color: rgba(128, 128, 128, 0.117);
    display: flex;
    flex-direction: column;
    width: 100vw;
    .sec8-img{
        img{
            width: 95vw;
            height: 70vh;
        }
    }
    .sec8-div1-div1{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 95vw;
        gap: 20px;
        .sec-input{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            input{
                height: 8vh;
                width: 90vw;
            }
        }
        .form-floating{
            textarea{
                width: 90vw;
            }
        }
        .sec8-button{
            button{
                height: 8vh;
                width: 90vw;
                background-color: #ce2727;
                color: white;
                border: none;
                border-radius: 25px;
            }
            
        }
    }
}

}
